Repository davmac314/dinit, pull requests merged in 2022-09, with the labels that each got.

#100 Initial dependabot configuration
  .github/dependabot.yml
Labels: A-Importance: Normal

#102 Linux services example: modules.sh: Use `grep -E` instead of `egrep`
  doc/linux/services/modules.sh
Labels: P-Linux, A-Importance: Normal, C-dinit-service

#108 Allow restart of services if all dependents restart automatically
  src/control.cc
  src/dinitctl.cc
  src/includes/control.h
  src/includes/service-constants.h
  src/includes/service.h
  src/service.cc
  src/tests/tests.cc
Labels: A-Importance: Normal, C-dinit-service
