Repository davmac314/dinit, pull requests merged in 2023-05, with the labels that each got.

#181 configure: Some improvments
  configure
Labels: Enhancement, A-Importance: Normal, make

#185 baseproc-service: fix default log target for none-logged services
  src/baseproc-service.cc
Labels: Bug, A-Importance: High, C-dinit-service

#187 run-child-proc: initialize supplementary groups for named run-as
  BUILD
  BUILD_MESON
  build/Makefile
  build/tools/mconfig-gen.cc
  configure
  doc/manpages/dinit-service.5.m4
  meson.build
  meson_options.txt
  src/run-child-proc.cc
Labels: Enhancement, A-Importance: Normal, C-dinit-service, meson, make

#192 CI: Meson CI(s) on GitHub.
  .github/workflows/meson_ci.yml
Labels: Enhancement, A-Importance: Normal, CI, meson
