Repository davmac314/dinit, pull requests merged in 2023-04, with the labels that each got.

#171 dinitctl: add is-active and is-failed commands
  doc/manpages/dinitctl.8.m4
  src/dinitctl.cc
Labels: A-Importance: Normal, C-dinitctl

#170 CI: Upgrade to FreeBSD 12.4 in cirrus-ci
  .cirrus.yml
Labels: Enhancement, P-BSD, A-Importance: Normal, CI

#169 meson: Respect `shutdown-prefix` in generated man-pages
  doc/manpages/meson.build
Labels: P-Linux, A-Importance: Normal, Build-problem, meson

#177 meson: Add new `environ2` igr test
  src/igr-tests/meson.build
Labels: Enhancement, A-Importance: Normal, meson

#175 CI: Use `DEBIAN_FRONTEND=noninteractive` in Debian CI(s)
  .github/workflows/regular_ci.yml
Labels: Enhancement, P-Linux, A-Importance: Low, CI
