Repository davmac314/dinit, pull requests merged in 2024-05, with the labels that each got.

#327 CI: Upgrade Debian workflow to bookworm
  .github/workflows/meson_ci.yml
Labels: A-Importance: Normal, CI, Build-issue, meson

#329 Tweak FreeBSD install instruction
  contrib/freebsd-rc/README
  contrib/freebsd-rc/tree/etc/dinit.d/boot
Labels: Enhancement/New Feature, P-BSD, A-Importance: Normal, C-contrib

#330 doc/manpages: Fix missing highlight mark for "Triggered" service type
  doc/manpages/dinit-service.5.m4
Labels: Bug/Bugfix, A-Importance: Low, C-dinit-service, Docs

#333 shutdown: Respect "SHUTDOWN_PREFIX" for reboot util check
  src/shutdown.cc
Labels: Bug/Bugfix, A-Importance: High, C-shutdown
