Repository davmac314/dinit, pull requests merged in 2024-11, with the labels that each got.

#414 Fix SVCDSCDIR replies on 64-bit big endian architectures
  src/control.cc
Labels: Bug/Bugfix, A-Importance: Normal, C-control

#415 CI: Add "pkg-config` as dependency in Debian Meson CI
  .github/workflows/meson_ci.yml
Labels: A-Importance: Normal, CI, meson

#416 dinit: Mention new added features in "--version" argument output
  src/dinit.cc
Labels: A-Importance: Low, C-dinit
