Repository davmac314/dinit, pull requests merged in 2024-10, with the labels that each got.

#386 add support for passing arguments to services
  doc/manpages/dinit-service.5.m4
  doc/manpages/dinit.8.m4
  doc/manpages/dinitctl.8.m4
  src/dinitcheck.cc
  src/igr-tests/igr-runner.cc
  src/igr-tests/svc-arg/checkarg.sh
  src/igr-tests/svc-arg/sd/checkarg
  src/igr-tests/svc-arg/sd/checkarg2
  src/igr-tests/svc-arg/sd/checkarg3
  src/igr-tests/svc-arg/sd/checkarg4
  src/igr-tests/svc-arg/sd/checkarg5
  src/includes/load-service.h
  src/load-service.cc
  src/tests/loadtests.cc
Labels: Bug/Bugfix, Enhancement/New Feature, A-Importance: Normal, C-dinitctl, C-dinit-service, C-dinitcheck

#395 Implement auto-recovery
  doc/manpages/dinit.8.m4
  src/dinit.cc
Labels: Enhancement/New Feature, A-Importance: Normal, C-dinit

#405 Fix bad formatting of line number when a service fails to load
  CONTRIBUTORS
  src/includes/service.h
Labels: Bug/Bugfix, A-Importance: Low, C-dinit
