Repository davmac314/dinit, pull requests merged in 2024-09, with the labels that each got.

#370 meson: Add new "settings.cc" to sources list
  src/meson.build
  src/tests/cptests/meson.build
  src/tests/meson.build
Labels: A-Importance: Normal, Build-issue, meson

#368 CI: meson_ci.yml: Mark MacOS as aarch64 not amd64
  .github/workflows/meson_ci.yml
Labels: A-Importance: Low, CI, P-Darwin, meson

#364 dinitctl: Handle the "SERVICEEVENT vs SERVICESTATUS" race
  src/dinitctl.cc
Labels: Bug/Bugfix, A-Importance: Normal, C-dinitctl

#373 dinitctl: Fix wrong app name in "--services-dir" not found error message
  src/dinitctl.cc
Labels: Bug/Bugfix, A-Importance: Low, C-dinitctl

#375 CI: Don't skip meson workflow on manual dispatch
  .github/workflows/meson_ci.yml
Labels: Bug/Bugfix, A-Importance: Normal, CI, meson

#376 load-service: Minor fixes around setting handling
  src/includes/load-service.h
Labels: Bug/Bugfix, A-Importance: Normal, C-dinitcheck

#372 dinitctl: Error on empty arguments
  src/dinitctl.cc
Labels: Bug/Bugfix, A-Importance: Normal, C-dinitctl

#379 CI: Replace Alpine ARM targets with a amd64 one
  .github/workflows/meson_ci.yml
  .github/workflows/regular_ci.yml
Labels: Enhancement/New Feature, A-Importance: Normal, CI, meson

#381 shutdown: Select respective action on halt and soft-reboot utilities
  src/shutdown.cc
Labels: Bug/Bugfix, A-Importance: Normal, C-shutdown

#384 dinitcheck: warn about non-absolute executable path
  src/dinitcheck.cc
Labels: Enhancement/New Feature, C-dinit-service, C-dinitcheck
