Repository davmac314/dinit, pull requests merged in 2024-04, with the labels that each got.

#318 Add FreeBSD rc.d files
  CONTRIBUTORS
  contrib/freebsd-rc/README
  contrib/freebsd-rc/tree/etc/rc.d/dinit
  contrib/freebsd-rc/tree/usr/sbin/dinitd
Labels: Enhancement/New Feature, P-BSD, A-Importance: Low, C-contrib

#323 meson.build: add poweroff bin
  doc/manpages/meson.build
  src/meson.build
Labels: meson

#324 CI: Use "brew" for installing meson in meson-based workflow
  .github/workflows/meson_ci.yml
Labels: Bug/Bugfix, A-Importance: Normal, CI, P-Darwin, meson
